---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{post.img}})" href="{{post.contenturl}}"></a>
  {% else %}

  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.contenturl}}">{{post.title}}</a></h2>
    <div>
        {% for tag in post.tags %}
        <span class="label label-success">{{tag}}</span>
        {% endfor %}
    </div>
    <div style="float:left;">
        <ul class="baseInfo">
            <li><i class="fa fa-money" aria-hidden="true"></i><span class="project_key">项目预算：</span><span>{{post.salary}}</span></li>
            <li><i class="fa fa-calendar" aria-hidden="true"></i><span class="project_key">时间周期：</span><span>{{post.time_range}}</span></li>
        </ul>
        <ul class="baseInfo">
                <li style="width: 120px;"><i class="fa fa-user-o" aria-hidden="true"></i><span class="project_key">已申请：</span><span>{{post.apply}}</span></li>
                {% if post.recommend %}
                <li style="width: 120px;"> <i class="fa fa-user-o" aria-hidden="true"></i><span class="project_key">已推荐：</span><span>{{post.recommend}}</span></li>
                {% endif %}
                {% if post.review %}
                <li style="width: 120px;"><i class="fa fa-user-o" aria-hidden="true"></i><span class="project_key">已浏览：</span><span>{{post.review}}</span></li>
                {% endif %}
        </ul>
    </div>
    <div style="float:left;padding-top:6px;">
        <!--i class="fa fa-list-ol" aria-hidden="true"></i---> 

        <span style="padding-left:4px">{{ post.description | truncate: 200 }}</span>
        <!---span style="padding-left:4px">{{ post.description | strip_html | truncatewords: 15 }}</span--->
    </div>
    <div style="padding-top:12px;float:left;" class="post-date">{{post.publish_time}}</div>
    <!--span class="post-words">{% capture words %}{{ post.description | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span-->
  </div>
</article>
{% endfor %}

{% include pagination.html %}
